body{
    background-image: url("https://unison-s-g.com/2021/assets/img/tour-patrickvegee/main_photo_pc_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}
h1{
    color: #fff;
}
.member li{
    float: left;
    background-color: #0005;
    padding-right: 50px;
}