body{
    background-image: url("https://www.sma.co.jp/images/15/84e/d8abfad48c0a4beec37ed56239519.jpg");
    background-size: cover;
    color: #fff;
}
h1{
    color: #444;
}
h2{
    border-bottom: 3px solid #ff5;
    padding-right: 15px;
    display: inline-block;
}
h4{
    color: #444;
}
p{
    color: #444;
}
.member li{
    height:100%;
    box-sizing:border-box;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type:none;
}
#display {
    display: flex;
    flex-wrap: wrap;
}
#sidemenu{
    background-color: #0000;
    padding-right: 20px;
    border-right: 2px solid #D7CCC8;
    color: #D7CCC8;
}

#sidemenu > a:link, a:visited, a:hover, a:active{
    color: #D7CCC8;
    background-color: #FFCCBC55;
}

#main{
    padding-left: 30px;

    transition-delay: 0s;
    transition-duration: 500ms;
    transition-property: all;
}

.member{
    height: 130px;
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #03A9F4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
p {
    margin: 0; 
    padding: 1px;
}

.wikitable{
    background-color: #f4f4f4;
    color: black;
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #03A9F4;
    box-shadow: 0px 2px 3px rgba(190, 182, 182, 0.33);
}
.wikitabke > a:link, a:visited, a:hover, a:active{
    color: #FFCCBC55;
}

.video{
    background-color: #f4f4f4;
    color: black;
    padding: 0.1em 0.4em 0em 0.3em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #03A9F4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}