body{
    background-image: url("https://thumb.ac-illust.com/b4/b4689e2b0b8c631814499928ee2ac4b2_t.jpeg");
}

h1{
    text-align: center;
}

div .left{
    margin: 10px 0 10px 0;
    width: 20%;
    background-color: #cccccc;
}