body{
    background-color: rgb(95, 90, 90);
}


.left{
    margin: 10px 0 10px 0;
    width: 20%;
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.content{
    animation: SlideIn 1s;
    float: left;
    width: 70%;
    margin: 10px 0 10px 0;
    margin-left: 100px;
}
p1{
    font-size: 27px;
}
h3{
    font-size: 34px;
}
h3:first-letter {
    font-size: 2em;
    color: #eeeeee;
  }
.left{
    background-color: #ffffffcc;
}



.sentence{
    font-size: 20px;
}

#right{
    background-color: #affd;
    text-decoration: none;
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 {
    color:rgb(255, 255, 255); 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid rgb(0, 0, 0);
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 6s steps(16, end),
	           blink-caret .5s step-end infinite alternate;
}
